<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/idols">BNK48APP</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser; else notSign">
          <li><a routerLink="/users/{{currentUser._id}}">Signed In As {{currentUser.firstname}}</a></li>
          <li><button (click)="signout()">SignOut</button></li>
      </ul>
      <ng-template #notSign>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/signin">SignIn</a></li>
          <li><a routerLink="/signup">SignUp</a></li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
